.textareaBox {
    display: flex;
    flex-direction: column;
    margin: 1.875rem 1.25rem 0.625rem 1.3125rem;
    height: 6.875rem;



    textarea {
        display: flex;
        width: 16.4375rem;
        height: 3.25rem;
        resize: none;

        padding: 0.8rem;

        border-radius: 0.5rem;
        border: 2px solid var(--Grey-2);
        background: var(--Grey-2);

        font-family: var(--font-primary);
        font-size: 1rem;

        position: relative;
        top: 1rem;
        
    }
}