.textareaBox {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    height: 6.875rem;



    textarea {
        width: 19.625rem;
        height: 3.25rem;
        padding: 0.7rem 1rem;
        resize: none;

        border-radius: 0.5rem;
        border: 2px solid var(--Grey-2);
        background: var(--Grey-2);

        font-family: var(--font-primary);
        font-size: 1rem;
        gap: 0rem 0.625rem;

        position: relative;
        top: 1rem;
    }
}