.title {
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: bold;

    &.one {
        font-size: 2.375rem;
        line-height: 3rem;
    }

    &.two {
        font-size: 1.375rem;
        line-height: 2.125rem;
        color: var(--Grey-4);
        margin: 0.8rem;
    }

    &.three {
        font-size: 1rem;
        line-height: 1.875rem;
        color: var(--Grey-4);
        margin: 0.8rem;
    }

    &.four {
        font-size: 0.75rem;
        line-height: 1.625rem;
    }
}

.paragraph {
    
    font-style: normal;
    font-weight: 400;

    &.one {
        font-family: var(--font-primary);
        font-size: 1rem;
        line-height: 1.625rem;
    }

    &.two {
        font-family: var(--font-secundary);
        font-size: 0.75rem;
        line-height: 1.375rem;
    }

    &.color {
        color: var(--Grey-4);
    }

    &.colorTwo {
        color: var(--Grey-3);
        position: relative;
        top: 2rem;
    }

    &.colorThree {
        color: var(--Grey-2);
    }

}