.totalBox {

    display: flex;
    flex-direction: column;
    position: relative;
    left: 1.4rem;

    width: 17.6875rem;
    height: 6rem;

    border: 0.0625rem solid;
    border-color: var(--Grey-2);


    h3 {
        display: flex;
        margin: 1.25rem 0rem 0rem 1.4375rem;

        font-family: var(--font-primary);
        font-weight: bold;
        font-size: 1rem;
        line-height: 1.875rem;
    }

    div {
        display: flex;
        flex-direction: row-reverse;
        margin: -2rem 1.1875rem 1.125rem 1.4375rem;

        font-family: var(--font-primary);
        color: var(--color-primary);
        font-style: normal;
        font-size: 1rem;
        font-weight: bold;
        line-height: 1.875rem;

    }

    p {
        margin: -11px 103.2px 0px 23.8px;

        font-size: 0.75rem;
        font-weight: 400;
        line-height: 1.375rem;
        font-family: var(--font-primary);
    }

}