.selectBox {
    display: flex;
    flex-direction: column-reverse;
    margin: 2rem;
    height: 6.875rem;
    position: relative;
    bottom: 4rem;
    justify-content: center;

    select {
        width: 16.625rem;
        height: 3.25rem;
        padding: 0.7rem 1rem;
        resize: none;
        
        border-radius: 0.5rem;
        border: 2px solid var(--Grey-2);
        background: var(--Grey-2);
        
        font-family: var(--font-primary);
        font-size: 1rem;
        
        position: relative;
        top: 1rem;
    }
}