.headerBox {
    display: flex;
    padding: 1.6875rem 11.0625rem 1.5rem 1.25rem;

    background: var(--Grey-1, #F8F9FA);
    box-shadow: 0.5rem 0.25rem 2rem -0.75rem rgba(0, 0, 0, 0.25);

    width: 100%;
}